.Service {
  margin: 50px auto;
  width: 90%;
}
.Service h2 {
  margin-bottom: 40px;
  font-family: "Rajdhani", sans-serif;
}
.Service .services-container {
  display: flex;
  margin-top: 20px;
}

.services-container .services {
  border: 1px solid #cccc;
  padding: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  line-height: 1.6em;
  font-family: "Lato", sans-serif;
  width: 40%;
  height: 30%;
  box-sizing: border-box;
}

.services-container .service-middle {
  margin: 0 13px 0 13px;
}

.services-container .services i {
  font-size: 40px;
  color: #2076d5;
  margin-right: 15px;
}

.services-container .services h3 {
  margin: 0;
  font-family: "Rajdhani", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}
.services-container .services p {
  margin-top: 10px;
}
.Service span {
  color: #2076d5;
}

.services svg {
  color: #2076d5;
  display: inline-block;
  width: 512px;
  height: 512px;
}
.Service .services:hover {
  background-color: #2076d5;
  color: #fff;
  transition: all 0.3s ease;
}

.Service .services:hover > i {
  color: #fff;
  transition: all 0.3s ease;
}

@media only screen and (max-width: 480px) {
  .services-container {
    flex-wrap: wrap;
  }

  .services-container .services {
    margin-top: 20px;
    width: 100%;
  }

  .services-container .service-middle {
    margin-right: 0;
    margin-left: 0;
  }
}
