.side-Drawer {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 75%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  z-index: 200;
  transform: translate(-100%);
  transition: all 0.5s ease;
  box-shadow: 5px 0 5px -5px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  font-family: "Lato", sans-serif;
  z-index: 10000;
}
.open {
  transform: translateX(0);
  transition: all 0.5s ease;
}

.side-Drawer .slide-header {
  height: 70px;
  width: 100%;
  border-bottom: 1px solid rgba(209, 209, 209, 0.623);
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #fff;
}
.side-Drawer .logo-container {
  margin-left: 20px;
  margin-right: auto;
  padding: 0;
}
.side-Drawer img {
  height: 52px;
  width: 47px;
}
.side-Drawer .close-icon {
  margin-right: 20px;
  cursor: pointer;
}
.side-Drawer nav,
ul {
  margin: 0;
  padding: 0;
}
.side-Drawer ul {
  margin-top: 30px;
  list-style-type: none;
  text-align: center;
}
.side-Drawer li {
  width: 100%;
  padding: 15px 25px;
  box-sizing: border-box;
  cursor: pointer;
}
.side-Drawer .ctaContact {
  text-align: center;
  margin: 30px;
}

.cta-menu-2 {
  margin-top: 40px;
  margin-left: 25px;
  display: flex;
  font-size: 17px !important;
  justify-content: center;
  margin-right: 40px;
  align-items: center;
}

.cta-menu-2 i {
  color: rgb(46, 85, 255);
   font-size: 40px;
}
/*  Disaper in desktop screen*/
@media only screen and (min-width: 1024px) {
  .side-Drawer {
    display: none !important;
  }
}
