.nav {
  font-family: "Rajdhani", sans-serif;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 70px;
  background: transparent;
  width: 100%;
  position: fixed;
  color: #ffffff;
}
.nav .logo {
  margin-right: auto;
  margin-left: 30px;
}
.nav img {
  height: 70px;
}
.nav ul {
  margin: 0;
  padding: 0;
}

.nav li {
  display: inline;
  margin-right: 45px;
  cursor: pointer;
}

.nav .cta-menu {
  display: flex;
  font-size: 17px;
  justify-content: center;
  margin-right: 40px;
  align-items: center;
}

.cta-menu i {
  font-size: 30px;
  margin-right: 6px;
}

/* Javscript scroll event*/
.scrolled {
box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  background-color: #ffffff;
}

.scrolled .newMenu {
  color: black;
  transition: none;
}
.scrolled .cta-menu{
  color: black;
}
.scrolled .cta-menu > i{
  color: #3D69E2
}
